header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo__img {
    background: var(--bg-gradient);
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img img {
    width: 100%;
}

.logo h2 {
    color: var(--heading-color);
    font-weight: 700!important;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav__item a {
    color: var(--heading-color);
    font-weight: 600!important;
    font-size: 1rem;
}

.nav__item a:hover{
    color: var(--primary-color);
}

.right__menu {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.register__btn {
    border: none;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    background: var(--primary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: var(--font-name);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.mobile__menu{
    color: var(--heading-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}

.sticky__header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 99;
}